body {
   background-image: url(https://www.bmw.it/content/dam/bmw/common/all-models/m-series/x6m/2023/highlights/bmw-m-series-x6-m-technologies-highlights-hero-desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1719475634469.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
  
}

header {
    position: sticky;
    z-index: 999;
    top: 0;
}

#homebody{
    background-image: url(https://wallpapers.com/images/high/bmw-background-vrk0is120houa9a2.webp);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}
#form {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
}

h1 {
    font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
    font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.card {
    backdrop-filter: blur(150px);
    background: rgba(255, 255, 255, 0.2);
}
